$fire: rgb(255, 86, 86);
$water:rgb(92, 173, 255);
$grass:rgb(1, 176, 1);
$electric: rgb(255, 255, 0);
$ground: rgba(42, 17, 17, 0.72);
/*
 (Elétrico)
Ground (Terra)
Flying (Voador)
Ice (Gelo)
Rock (Pedra)
Stell (Aço)
Normal
Fighting (Lutador)
Ghost (Fantasma)
Dark (Sombrio)
Poison (Venenoso)
Dragon (Dragão)
Fairy (Fada)
Bug (Inseto)
Psychic (Psíquico)*/